<div class="mw6 center">
    <form class="tl" action="post">
        <div class="flex items-start ma2">
            <em class="mr2">I want to:</em>
            <div>        
                <input type="checkbox" id="subscribe">
                <label for="subscribe">Subscribe to our Tips.</label><br>
                <input type="checkbox" id="existing">
                <label for="existing">Fix my website.</label><br>
                <input type="checkbox" id="new" value="Submit Query">
                <label for="new">Build my new website.</label>
            </div>    
        </div>
        <input type="email" id="email" required>
        <label for="email">Your Email</label><br>
        <div class="tr">
            <input type="submit" value="Submit Query">
        </div>
    </form>
</div>